<footer id="colophon" class="site-footer">
				<div class="footer_inner_wrapper footer prt-bg prt-bgcolor-custom prt-bgimage-yes">
					<div class="site-footer-bg-layer prt-bg-layer"></div>
					<div class="site-footer-w">
						<div class="footer-rows">
							<div class="footer-rows-inner">



								<div id="first-footer"
									class="sidebar-container first-footer  prt-bg prt-bgcolor-transparent prt-textcolor-white prt-bgimage-no prt-footerrow-sepnone prt-widgetsep-yes"
									role="complementary">
									<div class="first-footer-bg-layer prt-bg-layer"></div>
									<div class="container prt-container-for-footer">
										<div class="first-footer-inner">
											<div class="row multi-columns-row">

												<div
													class="widget-area col-xs-12 col-sm-6 col-md-6 col-lg-6 first-widget-area">
													<aside id="enhancedtextwidget-2"
														class="prt-footerform widget widget_text enhanced-text-widget">
														<h3 class="widget-title">Подпишитесь здесь, чтобы получать регулярную информацию о новых событиях и предложениях.</h3>
														<div class="textwidget widget-text">
															<script>
																(function () {
																	window.mc4wp = window.mc4wp || {
																		listeners: [],
																		forms: {
																			on: function (evt, cb) {
																				window.mc4wp.listeners.push({
																					event: evt,
																					callback: cb
																				});
																			}
																		}
																	}
																})();
															</script>
															<!-- Mailchimp for WordPress v4.9.0 - https://wordpress.org/plugins/mailchimp-for-wp/ -->
															<form id="mc4wp-form-2" class="mc4wp-form mc4wp-form-1664"
																method="post" data-id="1664" data-name="Sign up">
																<div class="mc4wp-form-fields">
																	<div
																		class="mailchimp-inputbox tm-mailchimp-newsletter">
																		<div class="mailchimp-email">
																			<i
																				class=" prt-valetex-icon-mail-1"></i><input
																				type="email" required name="EMAIL"
																				placeholder="Your email">
																		</div>
																		<button class="btn" type="submit">send now
																			<i
																				class="flaticon flaticon-right-arrow"></i>
																		</button>
																	</div>
																</div><label style="display: none !important;">Оставлять
																	это поле пустое, если вы человек:<input type="text"
																		name="_mc4wp_honeypot" value="" tabindex="-1"
																		autocomplete="off" /></label><input
																	type="hidden" name="_mc4wp_timestamp"
																	value="1732179905" /><input type="hidden"
																	name="_mc4wp_form_id" value="1664" /><input
																	type="hidden" name="_mc4wp_form_element_id"
																	value="mc4wp-form-2" />
																<div class="mc4wp-response"></div>
															</form><!-- / Mailchimp for WordPress Plugin -->

															<div class="prt-carimg-box">
																<h4>Предварительная регистрация здесь для использования<br>
																	Услуги парковщика</h4>
																<div class="prt-btn">
																	<a target="_blank"
																		href="{% url 'book' %}">Забронируйте сейчас!</a>
																</div>
															</div>
														</div>
													</aside>
												</div><!-- .widget-area -->
												<div
													class="widget-area col-xs-12 col-sm-3 col-md-3 col-lg-3 first-widget-area">
													<aside id="nav_menu-2" class="widget widget_nav_menu">
														<h3 class="widget-title">Полезные ссылки</h3>
														<div class="menu-footer-menu-links-container">
															<ul id="menu-footer-menu-links-1" class="menu">
																<li
																	class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1652">
																	<a href="{% url 'about' %}">О нас</a>
																</li>
																<li
																	class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1653">
																	<a href="{% url 'contact' %}">Контакты</a>
																</li>
																<li
																	class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1654">
																	<a href="#"></a>
																</li>
																<li
																	class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1655">
																	<a href="#">Loyalty Program</a>
																</li>
															</ul>
														</div>
													</aside>
												</div><!-- .widget-area -->
												<div
													class="widget-area col-xs-12 col-sm-3 col-md-3 col-lg-3 first-widget-area">
													<aside id="enhancedtextwidget-4"
														class="widget widget_text enhanced-text-widget">
														<h3 class="widget-title">Контакты</h3>
														<div class="textwidget widget-text">
															<div class="prt-contact-info">
																<p>
																	admin@gmail.com
                                                                    +996 999 777 555 111
																</p>
																<br>
																<p>Tel. <a href="#">+996 999 777 555 111</a></p>
																<p>Fax. <a href="#">https://telegram/admin/</a></p>
																<br>
																<p class="prt-textcolor-white prt-email"><a
																		href="#">admin@gmail.com</a></p>
															</div>
														</div>
													</aside>
												</div><!-- .widget-area -->



											</div><!-- .row.multi-columns-row -->
										</div><!-- .first-footer-inner -->
									</div><!--  -->
								</div><!-- #secondary -->


							</div><!-- .footer-inner -->
						</div><!-- .footer -->

						<div id="bottom-footer-text"
							class="bottom-footer-text prt-bottom-footer-text site-info  prt-bg prt-bgcolor-transparent prt-textcolor-white prt-bgimage-no prt-bordercolor-white">
							<div class="bottom-footer-bg-layer prt-bg-layer"></div>
							<div class="container prt-container-for-footer">
								<div class="bottom-footer-inner">
									<div class="row multi-columns-row">
										<div class="col-xs-12 col-sm-7 prt-footer2-left ">
											ОnoiРarking © 2024 <a href="{% url 'index' %}">Valetex</a>.
											Designed by Preyan Technosys. </div>
										<!--.footer menu -->

										<div class="col-xs-12 col-sm-5 prt-footer2-right ">
											<div class="footertext_logo"><a href="{% url 'index' %}"><img
														src="https://valetex.preyantechnosys.com/wp-content/uploads/2023/01/footer-textimg1.png"
														alt="" /></a>
												<a href="{% url 'index' %}"><img
														src="https://valetex.preyantechnosys.com/wp-content/uploads/2023/01/footer-textimg2.png"
														alt="" /></a>
											</div>
										</div>
										<!--.copyright -->

									</div><!-- .row.multi-columns-row -->
								</div><!-- .bottom-footer-inner -->
							</div><!--  -->
						</div><!-- .footer-text -->
					</div><!-- .footer-inner-wrapper -->
				</div><!-- .site-footer-inner -->
			</footer><!-- .site-footer -->