<header id="masthead" class=" prt-header-style-classic prt-main-menu-total-6">
    <div class="prt-header-block  prt-mmenu-active-color-skin prt-dmenu-active-color-custom prt-dmenu-sep-no">
        <div class="prt-search-overlay">
            <div class="prt-bg-layer"></div>
            <div class="prt-icon-close"></div>
            <div class="prt-search-outer">
                <form method="get" class="prt-site-searchform" action="https://valetex.preyantechnosys.com">
                    <input type="search" class="field searchform-s" name="s" placeholder="Type Word Then Enter.." />
                    <button type="submit"><span class="prt-valetex-icon-search"></span></button>
                </form>
            </div>
        </div>
        <div id="prt-stickable-header-w" class="prt-stickable-header-w prt-bgcolor-white" style="height:80px">
            <div id="site-header"
                class="site-header prt-bgcolor-white prt-sticky-bgcolor-white prt-header-menu-position-right prt-mmmenu-override-yes prt-above-content-yes  prt-stickable-header">

                <div class="site-header-main prt-wrap container-fullwide prt-container-for-header">

                    <div class="site-branding prt-wrap-cell">
                        <div class="headerlogo preyantechnosys-logotype-image prt-stickylogo-no">
                            <h1 class="site-title"><a class="home-link" href="./" title="" rel="home"><span
                                        class="prt-sc-logo prt-sc-logo-type-image"><img
                                            class="preyantechnosys-logo-img standardlogo onoi-parking-logo" alt=""
                                            src="/templates/img/header-logo/OnoiParking Logo Yellow & Black.png"></span></a>
                            </h1>
                            <h2 class="site-description"></h2>
                        </div>
                    </div><!-- .site-branding -->

                    <div id="site-header-menu" class="site-header-menu prt-wrap-cell">
                        <nav id="site-navigation" class="main-navigation" aria-label="Primary Menu"
                            data-sticky-height="80">
                            <div class="prt-header-text-area">
                                <div class="header-info-widget">
                                    <div class="prt-header-button"><a target="_blank"
                                            href="https://valetex.preyantechnosys.com/booking-payments/">Забрoнировать
                                            парковку </a></div>
                                </div>
                            </div>
                            <button id="menu-toggle" class="menu-toggle">
                                <span class="prt-hide">Toggle menu</span><i class="prt-valetex-icon-bars"></i>
                            </button>


                            <div class="nav-menu">
                                <ul id="menu-menu" class="nav-menu">
                                    <li id="menu-item-1643"
                                        class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor current-menu-parent menu-item-has-children menu-item-1643">
                                        <a href="{% url 'index' %}">Главная</a>
                                    </li>
                                    <li id="menu-item-1673"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1673">
                                        <a href="{% url 'about' %}">О
                                            нас</a>
                                    </li>
                                    <li id="menu-item-2092"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2092">
                                        <a href="{% url 'contact' %}">Стать Арендодателем</a>
                                    </li>
                                    <li id="menu-item-2094"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2094">
                                        <a href="https://valetex.preyantechnosys.com/services-1/">Услуги</a>
                                    </li>
                                    <li id="menu-item-2095"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2095">
                                        <a href="https://valetex.preyantechnosys.com/services-2/">Дополнительные
                                            услуги</a>
                                    </li>
                                </ul>
                            </div>
                        </nav><!-- .main-navigation -->
                    </div><!-- .site-header-menu -->
                </div><!-- .site-header-main -->
            </div>
        </div>
    </div>
</header><!-- .site-header -->