.elementor-3280 .elementor-element.elementor-element-200ccb07 {
    padding: 50px 0px 22px 0px;
}

.elementor-3280 .elementor-element.elementor-element-331c5a46 {
    padding: 0px 0px 47px 0px;
}

.elementor-3280 .elementor-element.elementor-element-14c09530 .prt-heading-subheading {
    text-align: left;
}

.elementor-3280 .elementor-element.elementor-element-14c09530 .prt-element-content-heading {
    font-size: 34px;
    line-height: 44px;
}

.elementor-3280 .elementor-element.elementor-element-23d2907f {
    padding: 0px 0px 120px 0px;
}

.elementor-3280 .elementor-element.elementor-element-15b09dcf>.elementor-element-populated {
    padding: 40px 110px 35px 110px;
}

.elementor-3280 .elementor-element.elementor-element-6713ac3c .prt-heading-subheading {
    text-align: left;
}

.elementor-3280 .elementor-element.elementor-element-6713ac3c .prt-element-content-heading {
    font-size: 34px;
    line-height: 44px;
}

.elementor-3280 .elementor-element.elementor-element-6713ac3c .prt-element-content-desctxt {
    color: #000000;
}

@media(max-width:1024px) {
    .elementor-3280 .elementor-element.elementor-element-23d2907f {
        padding: 0px 0px 70px 0px;
    }
}