.elementor-1869 .elementor-element.elementor-element-4d7286f {
    padding: 120px 0px 120px 0px;
}

.elementor-1869 .elementor-element.elementor-element-473f8de>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}

.elementor-1869 .elementor-element.elementor-element-473f8de>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1869 .elementor-element.elementor-element-0cc9108 .prt-heading-subheading {
    text-align: left;
}

.elementor-1869 .elementor-element.elementor-element-6e43241 {
    padding: 20px 0px 20px 0px;
}

.elementor-1869 .elementor-element.elementor-element-999771f>.elementor-element-populated {
    padding: 0px 20px 0px 0px;
}

.elementor-1869 .elementor-element.elementor-element-50d6e76>.elementor-element-populated {
    padding: 0px 10px 0px 10px;
}

.elementor-1869 .elementor-element.elementor-element-c1ce986>.elementor-element-populated {
    padding: 0px 0px 0px 20px;
}

.elementor-1869 .elementor-element.elementor-element-9a5b088>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}

.elementor-1869 .elementor-element.elementor-element-9a5b088>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1869 .elementor-element.elementor-element-9a5b088 {
    z-index: 0;
}

.elementor-1869 .elementor-element.elementor-element-d42b352>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}

.elementor-1869 .elementor-element.elementor-element-d42b352>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1869 .elementor-element.elementor-element-d32dafc {
    text-align: right;
}

.elementor-1869 .elementor-element.elementor-element-d32dafc>.elementor-widget-container {
    margin: 0px 0px 0px -90px;
}

.elementor-1869 .elementor-element.elementor-element-39f6b8a {
    padding: 0px 0px 0px 0px;
}

.elementor-1869 .elementor-element.elementor-element-ccd6004 iframe {
    height: 600px;
    filter: brightness(95%) contrast(138%) saturate(1%) blur(0px) hue-rotate(0deg);
}

.elementor-1869 .elementor-element.elementor-element-5a1707b {
    padding: 0px 0px 120px 0px;
}

.elementor-1869 .elementor-element.elementor-element-c7f84b4:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-1869 .elementor-element.elementor-element-c7f84b4>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("https://valetex.preyantechnosys.com/wp-content/uploads/2023/01/cntct-pattern.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto;
}

.elementor-1869 .elementor-element.elementor-element-c7f84b4>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: -200px 110px 0px 110px;
    --e-column-margin-right: 110px;
    --e-column-margin-left: 110px;
    padding: 92px 100px 100px 100px;
}

.elementor-1869 .elementor-element.elementor-element-c7f84b4>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1869 .elementor-element.elementor-element-35decc8 .prt-heading-subheading {
    text-align: left;
}

.elementor-1869 .elementor-element.elementor-element-35decc8 .prt-element-content-heading {
    font-size: 26px;
    line-height: 36px;
}

.elementor-1869 .elementor-element.elementor-element-35decc8 .prt-element-content-desctxt {
    color: #000000;
    font-size: 14px;
}

.elementor-1869 .elementor-element.elementor-element-f7e4849 {
    border-style: solid;
    border-width: 2px 0px 0px 0px;
    border-color: #000000;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-1869 .elementor-element.elementor-element-f7e4849>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

@media(min-width:768px) {
    .elementor-1869 .elementor-element.elementor-element-473f8de {
        width: 64.306%;
    }

    .elementor-1869 .elementor-element.elementor-element-9a5b088 {
        width: 35.656%;
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-1869 .elementor-element.elementor-element-473f8de {
        width: 100%;
    }

    .elementor-1869 .elementor-element.elementor-element-8bbdfc9 {
        width: 100%;
    }

    .elementor-1869 .elementor-element.elementor-element-9a5b088 {
        width: 100%;
    }
}

@media(max-width:1024px) {
    .elementor-1869 .elementor-element.elementor-element-4d7286f {
        padding: 70px 0px 50px 0px;
    }

    .elementor-1869 .elementor-element.elementor-element-9a5b088>.elementor-element-populated {
        padding: 40px 0px 0px 0px;
    }

    .elementor-1869 .elementor-element.elementor-element-d32dafc {
        text-align: left;
    }

    .elementor-1869 .elementor-element.elementor-element-d32dafc>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }

    .elementor-1869 .elementor-element.elementor-element-5a1707b {
        padding: 0px 0px 50px 0px;
    }

    .elementor-1869 .elementor-element.elementor-element-c7f84b4>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 50px 0px 20px 0px;
    }

    .elementor-1869 .elementor-element.elementor-element-f7e4849 {
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 20px 0px 35px 0px;
    }
}

@media(max-width:767px) {
    .elementor-1869 .elementor-element.elementor-element-6e43241 {
        padding: 0px 0px 0px 0px;
    }

    .elementor-1869 .elementor-element.elementor-element-d32dafc>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }
}