.elementor-374 .elementor-element.elementor-element-13195449 {
    padding: 50px 0px 22px 0px;
}

.elementor-374 .elementor-element.elementor-element-42b3e184 {
    padding: 0px 0px 47px 0px;
}

.elementor-374 .elementor-element.elementor-element-37005853 .prt-heading-subheading {
    text-align: left;
}

.elementor-374 .elementor-element.elementor-element-37005853 .prt-element-content-heading {
    font-size: 34px;
    line-height: 44px;
}

.elementor-374 .elementor-element.elementor-element-1eb5f698 {
    padding: 0px 0px 120px 0px;
}

.elementor-374 .elementor-element.elementor-element-1c675412>.elementor-element-populated {
    padding: 40px 110px 35px 110px;
}

.elementor-374 .elementor-element.elementor-element-4b82828d .prt-heading-subheading {
    text-align: left;
}

.elementor-374 .elementor-element.elementor-element-4b82828d .prt-element-content-heading {
    font-size: 34px;
    line-height: 44px;
}

.elementor-374 .elementor-element.elementor-element-4b82828d .prt-element-content-desctxt {
    color: #000000;
}

@media(max-width:1024px) {
    .elementor-374 .elementor-element.elementor-element-1eb5f698 {
        padding: 0px 0px 70px 0px;
    }
}