.elementor-2593 .elementor-element.elementor-element-083ccff {
    padding: 120px 0px 62px 0px;
}

.elementor-2593 .elementor-element.elementor-element-7f0486d .prt-heading-subheading {
    text-align: left;
}

.elementor-2593 .elementor-element.elementor-element-42739f5 {
    padding: 113px 0px 111px 0px;
}

.elementor-2593 .elementor-element.elementor-element-3df08a9 .prt-heading-subheading {
    text-align: left;
}

@media(max-width:1024px) {
    .elementor-2593 .elementor-element.elementor-element-083ccff {
        padding: 70px 0px 0px 0px;
    }

    .elementor-2593 .elementor-element.elementor-element-42739f5 {
        padding: 50px 0px 0px 0px;
    }
}