.elementor-1166 .elementor-element.elementor-element-7c719349 {
    padding: 0px 0px 0px 0px;
}

.elementor-1166 .elementor-element.elementor-element-421ceef7>.elementor-element-populated {
    margin: -235px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}

.elementor-1166 .elementor-element.elementor-element-57202c01 .prt-heading-subheading {
    text-align: left;
}

.elementor-1166 .elementor-element.elementor-element-57202c01 .prt-element-content-heading {
    margin-bottom: 20px;
}

.elementor-1166 .elementor-element.elementor-element-6ad1944 {
    padding: 50px 0px 0px 0px;
}

.elementor-1166 .elementor-element.elementor-element-4ffb9498 .prt-heading-subheading {
    text-align: left;
}

.elementor-1166 .elementor-element.elementor-element-678c9411 {
    padding: 30px 0px 50px 0px;
}

.elementor-1166 .elementor-element.elementor-element-417d4fd1>.elementor-element-populated {
    padding: 10px 0px 0px 0px;
}

.elementor-1166 .elementor-element.elementor-element-698fc08 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(18px/2);
}

.elementor-1166 .elementor-element.elementor-element-698fc08 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(18px/2);
}

.elementor-1166 .elementor-element.elementor-element-698fc08 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(18px/2);
    margin-left: calc(18px/2);
}

.elementor-1166 .elementor-element.elementor-element-698fc08 .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-18px/2);
    margin-left: calc(-18px/2);
}

body.rtl .elementor-1166 .elementor-element.elementor-element-698fc08 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-18px/2);
}

body:not(.rtl) .elementor-1166 .elementor-element.elementor-element-698fc08 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-18px/2);
}

.elementor-1166 .elementor-element.elementor-element-698fc08 .elementor-icon-list-icon i {
    color: #000000;
    transition: color 0.3s;
}

.elementor-1166 .elementor-element.elementor-element-698fc08 .elementor-icon-list-icon svg {
    fill: #000000;
    transition: fill 0.3s;
}

.elementor-1166 .elementor-element.elementor-element-698fc08 {
    --e-icon-list-icon-size: 14px;
    --icon-vertical-offset: 0px;
}

.elementor-1166 .elementor-element.elementor-element-698fc08 .elementor-icon-list-text {
    transition: color 0.3s;
}

.elementor-1166 .elementor-element.elementor-element-1580a319 {
    text-align: right;
}

.elementor-1166 .elementor-element.elementor-element-2bd13901 {
    padding: 0px 0px 50px 0px;
}

.elementor-1166 .elementor-element.elementor-element-6e286414>.elementor-element-populated {
    padding: 50px 80px 50px 80px;
}

.elementor-1166 .elementor-element.elementor-element-59560f35 .prt-heading-subheading {
    text-align: left;
}

@media(min-width:768px) {
    .elementor-1166 .elementor-element.elementor-element-421ceef7 {
        width: 56.154%;
    }

    .elementor-1166 .elementor-element.elementor-element-7df61d60 {
        width: 43.769%;
    }
}

@media(max-width:1024px) {
    .elementor-1166 .elementor-element.elementor-element-6ad1944 {
        padding: 30px 0px 0px 0px;
    }

    .elementor-1166 .elementor-element.elementor-element-678c9411 {
        padding: 30px 0px 50px 0px;
    }

    .elementor-1166 .elementor-element.elementor-element-2f834826>.elementor-element-populated {
        padding: 20px 0px 0px 0px;
    }

    .elementor-1166 .elementor-element.elementor-element-1580a319 {
        text-align: left;
    }

    .elementor-1166 .elementor-element.elementor-element-6e286414>.elementor-element-populated {
        padding: 0px 0px 0px 0px;
    }
}

@media(max-width:767px) {
    .elementor-1166 .elementor-element.elementor-element-417d4fd1>.elementor-element-populated {
        padding: 0px 0px 30px 0px;
    }
}