.elementor-375 .elementor-element.elementor-element-1fcbd85d {
    padding: 50px 0px 22px 0px;
}

.elementor-375 .elementor-element.elementor-element-5c83a6d1 {
    padding: 0px 0px 47px 0px;
}

.elementor-375 .elementor-element.elementor-element-7a26e00 .prt-heading-subheading {
    text-align: left;
}

.elementor-375 .elementor-element.elementor-element-7a26e00 .prt-element-content-heading {
    font-size: 34px;
    line-height: 44px;
}

.elementor-375 .elementor-element.elementor-element-1ce5ba1b {
    padding: 0px 0px 120px 0px;
}

.elementor-375 .elementor-element.elementor-element-612421bd>.elementor-element-populated {
    padding: 40px 110px 35px 110px;
}

.elementor-375 .elementor-element.elementor-element-94b8768 .prt-heading-subheading {
    text-align: left;
}

.elementor-375 .elementor-element.elementor-element-94b8768 .prt-element-content-heading {
    font-size: 34px;
    line-height: 44px;
}

.elementor-375 .elementor-element.elementor-element-94b8768 .prt-element-content-desctxt {
    color: #000000;
}

@media(max-width:1024px) {
    .elementor-375 .elementor-element.elementor-element-1ce5ba1b {
        padding: 0px 0px 70px 0px;
    }
}