.elementor-2441 .elementor-element.elementor-element-67e6786 {
    padding: 110px 0px 120px 0px;
}

.elementor-2441 .elementor-element.elementor-element-32c3dd6 {
    text-align: center;
}

.elementor-2441 .elementor-element.elementor-element-32c3dd6 .elementor-heading-title {
    font-size: 52px;
    line-height: 62px;
}

.elementor-2441 .elementor-element.elementor-element-35c1667 {
    padding: 17px 0px 0px 0px;
}

.elementor-2441 .elementor-element.elementor-element-8a39447 {
    padding: 120px 0px 120px 0px;
}

.elementor-2441 .elementor-element.elementor-element-d5458a1 {
    border-style: solid;
    border-width: 1px 1px 0px 1px;
    border-color: #E2E2E2;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 17px 0px 20px 20px;
}

.elementor-2441 .elementor-element.elementor-element-d5458a1>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2441 .elementor-element.elementor-element-5db9c92 .elementor-heading-title {
    font-size: 26px;
    line-height: 36px;
}

.elementor-2441 .elementor-element.elementor-element-82036ab {
    text-align: center;
}

.elementor-2441 .elementor-element.elementor-element-82036ab .elementor-heading-title {
    font-size: 26px;
    line-height: 36px;
}

.elementor-2441 .elementor-element.elementor-element-90edb11 {
    text-align: center;
}

.elementor-2441 .elementor-element.elementor-element-90edb11 .elementor-heading-title {
    font-size: 26px;
    line-height: 36px;
}

.elementor-2441 .elementor-element.elementor-element-0f5bb84 {
    text-align: center;
}

.elementor-2441 .elementor-element.elementor-element-0f5bb84 .elementor-heading-title {
    font-size: 26px;
    line-height: 36px;
}

.elementor-2441 .elementor-element.elementor-element-1f6f1b6 {
    border-style: solid;
    border-width: 1px 1px 0px 1px;
    border-color: #E2E2E2;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 0px 0px 0px 20px;
}

.elementor-2441 .elementor-element.elementor-element-1f6f1b6>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2441 .elementor-element.elementor-element-52417aa>.elementor-element-populated {
    border-style: solid;
    border-width: 0px 1px 0px 0px;
    border-color: #E2E2E2;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 15px 0px 20px 0px;
}

.elementor-2441 .elementor-element.elementor-element-52417aa>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2441 .elementor-element.elementor-element-9f096ef .prt-element-content-heading {
    font-size: 22px;
    line-height: 32px;
}

.elementor-2441 .elementor-element.elementor-element-95369bb>.elementor-element-populated {
    border-style: solid;
    border-width: 0px 1px 0px 0px;
    border-color: #E2E2E2;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-2441 .elementor-element.elementor-element-95369bb>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2441 .elementor-element.elementor-element-a01420c .elementor-icon-wrapper {
    text-align: center;
}

.elementor-2441 .elementor-element.elementor-element-a01420c.elementor-view-stacked .elementor-icon {
    background-color: #000000;
}

.elementor-2441 .elementor-element.elementor-element-a01420c.elementor-view-framed .elementor-icon,
.elementor-2441 .elementor-element.elementor-element-a01420c.elementor-view-default .elementor-icon {
    color: #000000;
    border-color: #000000;
}

.elementor-2441 .elementor-element.elementor-element-a01420c.elementor-view-framed .elementor-icon,
.elementor-2441 .elementor-element.elementor-element-a01420c.elementor-view-default .elementor-icon svg {
    fill: #000000;
}

.elementor-2441 .elementor-element.elementor-element-a01420c .elementor-icon {
    font-size: 38px;
}

.elementor-2441 .elementor-element.elementor-element-a01420c .elementor-icon svg {
    height: 38px;
}

.elementor-2441 .elementor-element.elementor-element-a01420c>.elementor-widget-container {
    padding: 45px 0px 0px 0px;
}

.elementor-2441 .elementor-element.elementor-element-fcf3c07>.elementor-element-populated {
    border-style: solid;
    border-width: 0px 1px 0px 0px;
    border-color: #E2E2E2;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-2441 .elementor-element.elementor-element-fcf3c07>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2441 .elementor-element.elementor-element-7d823e5 .elementor-icon-wrapper {
    text-align: center;
}

.elementor-2441 .elementor-element.elementor-element-7d823e5.elementor-view-stacked .elementor-icon {
    background-color: #000000;
}

.elementor-2441 .elementor-element.elementor-element-7d823e5.elementor-view-framed .elementor-icon,
.elementor-2441 .elementor-element.elementor-element-7d823e5.elementor-view-default .elementor-icon {
    color: #000000;
    border-color: #000000;
}

.elementor-2441 .elementor-element.elementor-element-7d823e5.elementor-view-framed .elementor-icon,
.elementor-2441 .elementor-element.elementor-element-7d823e5.elementor-view-default .elementor-icon svg {
    fill: #000000;
}

.elementor-2441 .elementor-element.elementor-element-7d823e5 .elementor-icon {
    font-size: 38px;
}

.elementor-2441 .elementor-element.elementor-element-7d823e5 .elementor-icon svg {
    height: 38px;
}

.elementor-2441 .elementor-element.elementor-element-7d823e5>.elementor-widget-container {
    padding: 45px 0px 0px 0px;
}

.elementor-2441 .elementor-element.elementor-element-742f360 .elementor-icon-wrapper {
    text-align: center;
}

.elementor-2441 .elementor-element.elementor-element-742f360.elementor-view-stacked .elementor-icon {
    background-color: #000000;
}

.elementor-2441 .elementor-element.elementor-element-742f360.elementor-view-framed .elementor-icon,
.elementor-2441 .elementor-element.elementor-element-742f360.elementor-view-default .elementor-icon {
    color: #000000;
    border-color: #000000;
}

.elementor-2441 .elementor-element.elementor-element-742f360.elementor-view-framed .elementor-icon,
.elementor-2441 .elementor-element.elementor-element-742f360.elementor-view-default .elementor-icon svg {
    fill: #000000;
}

.elementor-2441 .elementor-element.elementor-element-742f360 .elementor-icon {
    font-size: 38px;
}

.elementor-2441 .elementor-element.elementor-element-742f360 .elementor-icon svg {
    height: 38px;
}

.elementor-2441 .elementor-element.elementor-element-742f360>.elementor-widget-container {
    padding: 45px 0px 0px 0px;
}

.elementor-2441 .elementor-element.elementor-element-cd42c72 {
    border-style: solid;
    border-width: 1px 1px 0px 1px;
    border-color: #E2E2E2;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 0px 0px 0px 20px;
}

.elementor-2441 .elementor-element.elementor-element-cd42c72>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2441 .elementor-element.elementor-element-e5597dd>.elementor-element-populated {
    border-style: solid;
    border-width: 0px 1px 0px 0px;
    border-color: #E2E2E2;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 15px 0px 20px 0px;
}

.elementor-2441 .elementor-element.elementor-element-e5597dd>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2441 .elementor-element.elementor-element-880d5b4 .prt-element-content-heading {
    font-size: 22px;
    line-height: 32px;
}

.elementor-2441 .elementor-element.elementor-element-8cac7dc>.elementor-element-populated {
    border-style: solid;
    border-width: 0px 1px 0px 0px;
    border-color: #E2E2E2;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-2441 .elementor-element.elementor-element-8cac7dc>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2441 .elementor-element.elementor-element-84de8f0 .elementor-icon-wrapper {
    text-align: center;
}

.elementor-2441 .elementor-element.elementor-element-84de8f0.elementor-view-stacked .elementor-icon {
    background-color: #000000;
}

.elementor-2441 .elementor-element.elementor-element-84de8f0.elementor-view-framed .elementor-icon,
.elementor-2441 .elementor-element.elementor-element-84de8f0.elementor-view-default .elementor-icon {
    color: #000000;
    border-color: #000000;
}

.elementor-2441 .elementor-element.elementor-element-84de8f0.elementor-view-framed .elementor-icon,
.elementor-2441 .elementor-element.elementor-element-84de8f0.elementor-view-default .elementor-icon svg {
    fill: #000000;
}

.elementor-2441 .elementor-element.elementor-element-84de8f0 .elementor-icon {
    font-size: 38px;
}

.elementor-2441 .elementor-element.elementor-element-84de8f0 .elementor-icon svg {
    height: 38px;
}

.elementor-2441 .elementor-element.elementor-element-84de8f0>.elementor-widget-container {
    padding: 45px 0px 0px 0px;
}

.elementor-2441 .elementor-element.elementor-element-e86d17c>.elementor-element-populated {
    border-style: solid;
    border-width: 0px 1px 0px 0px;
    border-color: #E2E2E2;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-2441 .elementor-element.elementor-element-e86d17c>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2441 .elementor-element.elementor-element-5555ee7 .elementor-icon-wrapper {
    text-align: center;
}

.elementor-2441 .elementor-element.elementor-element-5555ee7.elementor-view-stacked .elementor-icon {
    background-color: #000000;
}

.elementor-2441 .elementor-element.elementor-element-5555ee7.elementor-view-framed .elementor-icon,
.elementor-2441 .elementor-element.elementor-element-5555ee7.elementor-view-default .elementor-icon {
    color: #000000;
    border-color: #000000;
}

.elementor-2441 .elementor-element.elementor-element-5555ee7.elementor-view-framed .elementor-icon,
.elementor-2441 .elementor-element.elementor-element-5555ee7.elementor-view-default .elementor-icon svg {
    fill: #000000;
}

.elementor-2441 .elementor-element.elementor-element-5555ee7 .elementor-icon {
    font-size: 38px;
}

.elementor-2441 .elementor-element.elementor-element-5555ee7 .elementor-icon svg {
    height: 38px;
}

.elementor-2441 .elementor-element.elementor-element-5555ee7>.elementor-widget-container {
    padding: 45px 0px 0px 0px;
}

.elementor-2441 .elementor-element.elementor-element-288a000 .elementor-icon-wrapper {
    text-align: center;
}

.elementor-2441 .elementor-element.elementor-element-288a000.elementor-view-stacked .elementor-icon {
    background-color: #000000;
}

.elementor-2441 .elementor-element.elementor-element-288a000.elementor-view-framed .elementor-icon,
.elementor-2441 .elementor-element.elementor-element-288a000.elementor-view-default .elementor-icon {
    color: #000000;
    border-color: #000000;
}

.elementor-2441 .elementor-element.elementor-element-288a000.elementor-view-framed .elementor-icon,
.elementor-2441 .elementor-element.elementor-element-288a000.elementor-view-default .elementor-icon svg {
    fill: #000000;
}

.elementor-2441 .elementor-element.elementor-element-288a000 .elementor-icon {
    font-size: 38px;
}

.elementor-2441 .elementor-element.elementor-element-288a000 .elementor-icon svg {
    height: 38px;
}

.elementor-2441 .elementor-element.elementor-element-288a000>.elementor-widget-container {
    padding: 45px 0px 0px 0px;
}

.elementor-2441 .elementor-element.elementor-element-db73f21 {
    border-style: solid;
    border-width: 1px 1px 0px 1px;
    border-color: #E2E2E2;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 0px 0px 0px 20px;
}

.elementor-2441 .elementor-element.elementor-element-db73f21>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2441 .elementor-element.elementor-element-1d6202e>.elementor-element-populated {
    border-style: solid;
    border-width: 0px 1px 0px 0px;
    border-color: #E2E2E2;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 15px 0px 20px 0px;
}

.elementor-2441 .elementor-element.elementor-element-1d6202e>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2441 .elementor-element.elementor-element-f0ae5c6 .prt-element-content-heading {
    font-size: 22px;
    line-height: 32px;
}

.elementor-2441 .elementor-element.elementor-element-935a5cf>.elementor-element-populated {
    border-style: solid;
    border-width: 0px 1px 0px 0px;
    border-color: #E2E2E2;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-2441 .elementor-element.elementor-element-935a5cf>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2441 .elementor-element.elementor-element-436fd24 .elementor-icon-wrapper {
    text-align: center;
}

.elementor-2441 .elementor-element.elementor-element-436fd24.elementor-view-stacked .elementor-icon {
    background-color: #FF0000;
}

.elementor-2441 .elementor-element.elementor-element-436fd24.elementor-view-framed .elementor-icon,
.elementor-2441 .elementor-element.elementor-element-436fd24.elementor-view-default .elementor-icon {
    color: #FF0000;
    border-color: #FF0000;
}

.elementor-2441 .elementor-element.elementor-element-436fd24.elementor-view-framed .elementor-icon,
.elementor-2441 .elementor-element.elementor-element-436fd24.elementor-view-default .elementor-icon svg {
    fill: #FF0000;
}

.elementor-2441 .elementor-element.elementor-element-436fd24 .elementor-icon {
    font-size: 40px;
}

.elementor-2441 .elementor-element.elementor-element-436fd24 .elementor-icon svg {
    height: 40px;
}

.elementor-2441 .elementor-element.elementor-element-436fd24>.elementor-widget-container {
    padding: 45px 0px 0px 0px;
}

.elementor-2441 .elementor-element.elementor-element-be7426d>.elementor-element-populated {
    border-style: solid;
    border-width: 0px 1px 0px 0px;
    border-color: #E2E2E2;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-2441 .elementor-element.elementor-element-be7426d>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2441 .elementor-element.elementor-element-c022e27 .elementor-icon-wrapper {
    text-align: center;
}

.elementor-2441 .elementor-element.elementor-element-c022e27.elementor-view-stacked .elementor-icon {
    background-color: #000000;
}

.elementor-2441 .elementor-element.elementor-element-c022e27.elementor-view-framed .elementor-icon,
.elementor-2441 .elementor-element.elementor-element-c022e27.elementor-view-default .elementor-icon {
    color: #000000;
    border-color: #000000;
}

.elementor-2441 .elementor-element.elementor-element-c022e27.elementor-view-framed .elementor-icon,
.elementor-2441 .elementor-element.elementor-element-c022e27.elementor-view-default .elementor-icon svg {
    fill: #000000;
}

.elementor-2441 .elementor-element.elementor-element-c022e27 .elementor-icon {
    font-size: 38px;
}

.elementor-2441 .elementor-element.elementor-element-c022e27 .elementor-icon svg {
    height: 38px;
}

.elementor-2441 .elementor-element.elementor-element-c022e27>.elementor-widget-container {
    padding: 45px 0px 0px 0px;
}

.elementor-2441 .elementor-element.elementor-element-f381be2 .elementor-icon-wrapper {
    text-align: center;
}

.elementor-2441 .elementor-element.elementor-element-f381be2.elementor-view-stacked .elementor-icon {
    background-color: #000000;
}

.elementor-2441 .elementor-element.elementor-element-f381be2.elementor-view-framed .elementor-icon,
.elementor-2441 .elementor-element.elementor-element-f381be2.elementor-view-default .elementor-icon {
    color: #000000;
    border-color: #000000;
}

.elementor-2441 .elementor-element.elementor-element-f381be2.elementor-view-framed .elementor-icon,
.elementor-2441 .elementor-element.elementor-element-f381be2.elementor-view-default .elementor-icon svg {
    fill: #000000;
}

.elementor-2441 .elementor-element.elementor-element-f381be2 .elementor-icon {
    font-size: 38px;
}

.elementor-2441 .elementor-element.elementor-element-f381be2 .elementor-icon svg {
    height: 38px;
}

.elementor-2441 .elementor-element.elementor-element-f381be2>.elementor-widget-container {
    padding: 45px 0px 0px 0px;
}

.elementor-2441 .elementor-element.elementor-element-0b3c876 {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #E2E2E2;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 0px 0px 0px 20px;
}

.elementor-2441 .elementor-element.elementor-element-0b3c876>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2441 .elementor-element.elementor-element-272ca49>.elementor-element-populated {
    border-style: solid;
    border-width: 0px 1px 0px 0px;
    border-color: #E2E2E2;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 15px 0px 20px 0px;
}

.elementor-2441 .elementor-element.elementor-element-272ca49>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2441 .elementor-element.elementor-element-19c0c86 .prt-element-content-heading {
    font-size: 22px;
    line-height: 32px;
}

.elementor-2441 .elementor-element.elementor-element-c03efff>.elementor-element-populated {
    border-style: solid;
    border-width: 0px 1px 0px 0px;
    border-color: #E2E2E2;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-2441 .elementor-element.elementor-element-c03efff>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2441 .elementor-element.elementor-element-5895230 .elementor-icon-wrapper {
    text-align: center;
}

.elementor-2441 .elementor-element.elementor-element-5895230.elementor-view-stacked .elementor-icon {
    background-color: #FF0000;
}

.elementor-2441 .elementor-element.elementor-element-5895230.elementor-view-framed .elementor-icon,
.elementor-2441 .elementor-element.elementor-element-5895230.elementor-view-default .elementor-icon {
    color: #FF0000;
    border-color: #FF0000;
}

.elementor-2441 .elementor-element.elementor-element-5895230.elementor-view-framed .elementor-icon,
.elementor-2441 .elementor-element.elementor-element-5895230.elementor-view-default .elementor-icon svg {
    fill: #FF0000;
}

.elementor-2441 .elementor-element.elementor-element-5895230 .elementor-icon {
    font-size: 40px;
}

.elementor-2441 .elementor-element.elementor-element-5895230 .elementor-icon svg {
    height: 40px;
}

.elementor-2441 .elementor-element.elementor-element-5895230>.elementor-widget-container {
    padding: 45px 0px 0px 0px;
}

.elementor-2441 .elementor-element.elementor-element-707dafd>.elementor-element-populated {
    border-style: solid;
    border-width: 0px 1px 0px 0px;
    border-color: #E2E2E2;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-2441 .elementor-element.elementor-element-707dafd>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2441 .elementor-element.elementor-element-7630c4b .elementor-icon-wrapper {
    text-align: center;
}

.elementor-2441 .elementor-element.elementor-element-7630c4b.elementor-view-stacked .elementor-icon {
    background-color: #FF0000;
}

.elementor-2441 .elementor-element.elementor-element-7630c4b.elementor-view-framed .elementor-icon,
.elementor-2441 .elementor-element.elementor-element-7630c4b.elementor-view-default .elementor-icon {
    color: #FF0000;
    border-color: #FF0000;
}

.elementor-2441 .elementor-element.elementor-element-7630c4b.elementor-view-framed .elementor-icon,
.elementor-2441 .elementor-element.elementor-element-7630c4b.elementor-view-default .elementor-icon svg {
    fill: #FF0000;
}

.elementor-2441 .elementor-element.elementor-element-7630c4b .elementor-icon {
    font-size: 40px;
}

.elementor-2441 .elementor-element.elementor-element-7630c4b .elementor-icon svg {
    height: 40px;
}

.elementor-2441 .elementor-element.elementor-element-7630c4b>.elementor-widget-container {
    padding: 45px 0px 0px 0px;
}

.elementor-2441 .elementor-element.elementor-element-eeb5435 .elementor-icon-wrapper {
    text-align: center;
}

.elementor-2441 .elementor-element.elementor-element-eeb5435.elementor-view-stacked .elementor-icon {
    background-color: #000000;
}

.elementor-2441 .elementor-element.elementor-element-eeb5435.elementor-view-framed .elementor-icon,
.elementor-2441 .elementor-element.elementor-element-eeb5435.elementor-view-default .elementor-icon {
    color: #000000;
    border-color: #000000;
}

.elementor-2441 .elementor-element.elementor-element-eeb5435.elementor-view-framed .elementor-icon,
.elementor-2441 .elementor-element.elementor-element-eeb5435.elementor-view-default .elementor-icon svg {
    fill: #000000;
}

.elementor-2441 .elementor-element.elementor-element-eeb5435 .elementor-icon {
    font-size: 38px;
}

.elementor-2441 .elementor-element.elementor-element-eeb5435 .elementor-icon svg {
    height: 38px;
}

.elementor-2441 .elementor-element.elementor-element-eeb5435>.elementor-widget-container {
    padding: 45px 0px 0px 0px;
}

.elementor-2441 .elementor-element.elementor-element-8bbd4d2 {
    padding: 120px 0px 110px 0px;
}

.elementor-2441 .elementor-element.elementor-element-e866baf .prt-heading-subheading {
    text-align: center;
}

@media(max-width:1024px) {
    .elementor-2441 .elementor-element.elementor-element-67e6786 {
        padding: 60px 0px 50px 0px;
    }

    .elementor-2441 .elementor-element.elementor-element-35c1667 {
        padding: 35px 0px 0px 0px;
    }

    .elementor-2441 .elementor-element.elementor-element-8a39447 {
        padding: 50px 0px 50px 0px;
    }

    .elementor-2441 .elementor-element.elementor-element-8bbd4d2 {
        padding: 50px 0px 45px 0px;
    }
}

@media(max-width:767px) {
    .elementor-2441 .elementor-element.elementor-element-32c3dd6 .elementor-heading-title {
        font-size: 42px;
    }

    .elementor-2441 .elementor-element.elementor-element-5db9c92 {
        text-align: center;
    }

    .elementor-2441 .elementor-element.elementor-element-52417aa>.elementor-element-populated {
        border-width: 0px 0px 0px 0px;
    }

    .elementor-2441 .elementor-element.elementor-element-95369bb>.elementor-element-populated {
        border-width: 0px 0px 0px 0px;
    }

    .elementor-2441 .elementor-element.elementor-element-a01420c>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }

    .elementor-2441 .elementor-element.elementor-element-fcf3c07>.elementor-element-populated {
        border-width: 0px 0px 0px 0px;
    }

    .elementor-2441 .elementor-element.elementor-element-b32d4fb>.elementor-element-populated {
        padding: 0px 0px 20px 0px;
    }

    .elementor-2441 .elementor-element.elementor-element-e5597dd>.elementor-element-populated {
        border-width: 0px 0px 0px 0px;
    }

    .elementor-2441 .elementor-element.elementor-element-8cac7dc>.elementor-element-populated {
        border-width: 0px 0px 0px 0px;
    }

    .elementor-2441 .elementor-element.elementor-element-84de8f0>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }

    .elementor-2441 .elementor-element.elementor-element-e86d17c>.elementor-element-populated {
        border-width: 0px 0px 0px 0px;
    }

    .elementor-2441 .elementor-element.elementor-element-7c14758>.elementor-element-populated {
        padding: 0px 0px 20px 0px;
    }

    .elementor-2441 .elementor-element.elementor-element-1d6202e>.elementor-element-populated {
        border-width: 0px 0px 0px 0px;
    }

    .elementor-2441 .elementor-element.elementor-element-935a5cf>.elementor-element-populated {
        border-width: 0px 0px 0px 0px;
    }

    .elementor-2441 .elementor-element.elementor-element-436fd24>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }

    .elementor-2441 .elementor-element.elementor-element-be7426d>.elementor-element-populated {
        border-width: 0px 0px 0px 0px;
    }

    .elementor-2441 .elementor-element.elementor-element-202260b>.elementor-element-populated {
        padding: 0px 0px 20px 0px;
    }

    .elementor-2441 .elementor-element.elementor-element-272ca49>.elementor-element-populated {
        border-width: 0px 0px 0px 0px;
    }

    .elementor-2441 .elementor-element.elementor-element-c03efff>.elementor-element-populated {
        border-width: 0px 0px 0px 0px;
    }

    .elementor-2441 .elementor-element.elementor-element-5895230>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }

    .elementor-2441 .elementor-element.elementor-element-707dafd>.elementor-element-populated {
        border-width: 0px 0px 0px 0px;
    }

    .elementor-2441 .elementor-element.elementor-element-374a466>.elementor-element-populated {
        padding: 0px 0px 20px 0px;
    }
}

@media(min-width:768px) {
    .elementor-2441 .elementor-element.elementor-element-3a59d86 {
        width: 16.948%;
    }

    .elementor-2441 .elementor-element.elementor-element-8e6230c {
        width: 65.844%;
    }

    .elementor-2441 .elementor-element.elementor-element-75ed7ea {
        width: 16.874%;
    }
}