.elementor-371 .elementor-element.elementor-element-649ecda2 {
    padding: 50px 0px 22px 0px;
}

.elementor-371 .elementor-element.elementor-element-1399a95e {
    padding: 0px 0px 47px 0px;
}

.elementor-371 .elementor-element.elementor-element-da35e3c .prt-heading-subheading {
    text-align: left;
}

.elementor-371 .elementor-element.elementor-element-da35e3c .prt-element-content-heading {
    font-size: 34px;
    line-height: 44px;
}

.elementor-371 .elementor-element.elementor-element-719aa5c1 {
    padding: 0px 0px 120px 0px;
}

.elementor-371 .elementor-element.elementor-element-6424027>.elementor-element-populated {
    padding: 40px 110px 35px 110px;
}

.elementor-371 .elementor-element.elementor-element-35c65b25 .prt-heading-subheading {
    text-align: left;
}

.elementor-371 .elementor-element.elementor-element-35c65b25 .prt-element-content-heading {
    font-size: 34px;
    line-height: 44px;
}

.elementor-371 .elementor-element.elementor-element-35c65b25 .prt-element-content-desctxt {
    color: #000000;
}

@media(max-width:1024px) {
    .elementor-371 .elementor-element.elementor-element-719aa5c1 {
        padding: 0px 0px 70px 0px;
    }
}