.elementor-345 .elementor-element.elementor-element-9d8dfa2 {
    padding: 83px 0px 50px 0px;
}

.elementor-345 .elementor-element.elementor-element-886abd4 .prt-heading-subheading {
    text-align: left;
}

.elementor-345 .elementor-element.elementor-element-886abd4 .prt-element-content-heading {
    font-size: 34px;
    line-height: 44px;
}

.elementor-345 .elementor-element.elementor-element-886abd4>.elementor-widget-container {
    padding: 0px 0px 10px 0px;
}

.elementor-345 .elementor-element.elementor-element-ff4ae5b {
    padding: 40px 0px 0px 0px;
}

.elementor-345 .elementor-element.elementor-element-2c280c8>.elementor-element-populated {
    padding: 0px 20px 0px 0px;
}

.elementor-345 .elementor-element.elementor-element-b217c66 .prt-heading-subheading {
    text-align: left;
}

.elementor-345 .elementor-element.elementor-element-b217c66>.elementor-widget-container {
    padding: 0px 0px 23px 0px;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
}

.elementor-345 .elementor-element.elementor-element-4b98b33>.elementor-element-populated {
    padding: 0px 0px 0px 15px;
}

.elementor-345 .elementor-element.elementor-element-b60de60 .prt-heading-subheading {
    text-align: left;
}

.elementor-345 .elementor-element.elementor-element-b60de60>.elementor-widget-container {
    padding: 0px 0px 23px 0px;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
}

.elementor-345 .elementor-element.elementor-element-44da636 {
    padding: 20px 0px 0px 0px;
}

.elementor-345 .elementor-element.elementor-element-42587c5>.elementor-element-populated {
    padding: 0px 20px 0px 0px;
}

.elementor-345 .elementor-element.elementor-element-0186dcb .prt-heading-subheading {
    text-align: left;
}

.elementor-345 .elementor-element.elementor-element-0186dcb>.elementor-widget-container {
    padding: 0px 0px 23px 0px;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
}

.elementor-345 .elementor-element.elementor-element-e312d7f>.elementor-element-populated {
    padding: 0px 0px 0px 15px;
}

.elementor-345 .elementor-element.elementor-element-3f003ce .prt-heading-subheading {
    text-align: left;
}

.elementor-345 .elementor-element.elementor-element-3f003ce>.elementor-widget-container {
    padding: 0px 0px 23px 0px;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
}

.elementor-345 .elementor-element.elementor-element-93c7678 {
    padding: 0px 0px 0px 0px;
}

.elementor-345 .elementor-element.elementor-element-7b675c1 {
    text-align: left;
}

.elementor-345 .elementor-element.elementor-element-2da7f81 {
    padding: 44px 0px 90px 0px;
}

.elementor-345 .elementor-element.elementor-element-a84df78 .prt-heading-subheading {
    text-align: left;
}

.elementor-345 .elementor-element.elementor-element-a84df78 .prt-element-content-heading {
    font-size: 34px;
    line-height: 44px;
}

.elementor-345 .elementor-element.elementor-element-a84df78>.elementor-widget-container {
    padding: 0px 0px 10px 0px;
}

.elementor-345 .elementor-element.elementor-element-f36fd57>.elementor-element-populated {
    padding: 0px 20px 0px 0px;
}

.elementor-345 .elementor-element.elementor-element-2c9bd2e>.elementor-element-populated {
    padding: 0px 0px 0px 10px;
}

.elementor-345 .elementor-element.elementor-element-aac5c30 {
    padding: 30px 0px 0px 0px;
}

.elementor-345 .elementor-element.elementor-element-6fa783b>.elementor-element-populated {
    padding: 0px 20px 0px 0px;
}

.elementor-345 .elementor-element.elementor-element-5b82f37>.elementor-element-populated {
    padding: 0px 0px 0px 10px;
}

.elementor-345 .elementor-element.elementor-element-b7c4fa8 {
    padding: 0px 0px 78px 0px;
}

.elementor-345 .elementor-element.elementor-element-466609e .prt-heading-subheading {
    text-align: left;
}

@media(max-width:1024px) {
    .elementor-345 .elementor-element.elementor-element-9d8dfa2 {
        padding: 80px 0px 50px 0px;
    }

    .elementor-345 .elementor-element.elementor-element-886abd4>.elementor-widget-container {
        margin: 0px 0px -20px 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-345 .elementor-element.elementor-element-ff4ae5b {
        padding: 20px 0px 0px 0px;
    }

    .elementor-345 .elementor-element.elementor-element-b217c66>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }

    .elementor-345 .elementor-element.elementor-element-b60de60>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }

    .elementor-345 .elementor-element.elementor-element-44da636 {
        padding: 20px 0px 0px 0px;
    }

    .elementor-345 .elementor-element.elementor-element-0186dcb>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }

    .elementor-345 .elementor-element.elementor-element-3f003ce>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }

    .elementor-345 .elementor-element.elementor-element-2da7f81 {
        padding: 50px 0px 50px 0px;
    }

    .elementor-345 .elementor-element.elementor-element-a84df78>.elementor-widget-container {
        margin: 0px 0px -20px 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-345 .elementor-element.elementor-element-7215612 {
        padding: 20px 0px 0px 0px;
    }

    .elementor-345 .elementor-element.elementor-element-aac5c30 {
        padding: 30px 0px 0px 0px;
    }

    .elementor-345 .elementor-element.elementor-element-b7c4fa8 {
        padding: 0px 0px 40px 0px;
    }
}

@media(max-width:767px) {
    .elementor-345 .elementor-element.elementor-element-aac5c30 {
        padding: 0px 0px 0px 0px;
    }
}