.elementor-1960 .elementor-element.elementor-element-bf338f1 {
    padding: 0px 0px 0px 0px;
}

.elementor-1960 .elementor-element.elementor-element-239a88f iframe {
    height: 600px;
    filter: brightness(95%) contrast(138%) saturate(1%) blur(0px) hue-rotate(0deg);
}

.elementor-1960 .elementor-element.elementor-element-84bf225 {
    margin-top: -180px;
    margin-bottom: 0px;
    padding: 0px 0px 120px 0px;
}

.elementor-1960 .elementor-element.elementor-element-4126e48>.elementor-element-populated {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    padding: 70px 35px 70px 35px;
}

.elementor-1960 .elementor-element.elementor-element-10e1252>.elementor-element-populated {
    border-style: solid;
    border-width: 0px 1px 0px 0px;
    border-color: #E2E2E2;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 15px 40px 0px 0px;
}

.elementor-1960 .elementor-element.elementor-element-10e1252>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1960 .elementor-element.elementor-element-1d44639 .prt-heading-subheading {
    text-align: left;
}

.elementor-1960 .elementor-element.elementor-element-1d44639>.elementor-widget-container {
    padding: 0px 0px 20px 0px;
}

.elementor-1960 .elementor-element.elementor-element-a9c69a2 {
    --divider-border-style: solid;
    --divider-color: #E2E2E2;
    --divider-border-width: 1px;
}

.elementor-1960 .elementor-element.elementor-element-a9c69a2 .elementor-divider-separator {
    width: 100%;
}

.elementor-1960 .elementor-element.elementor-element-a9c69a2 .elementor-divider {
    padding-block-start: 15px;
    padding-block-end: 15px;
}

.elementor-1960 .elementor-element.elementor-element-a9c69a2>.elementor-widget-container {
    margin: 0px 0px -12px 0px;
}

.elementor-1960 .elementor-element.elementor-element-450fe16 .elementor-heading-title {
    font-size: 30px;
    line-height: 40px;
}

.elementor-1960 .elementor-element.elementor-element-955f1c0 {
    --grid-template-columns: repeat(0, auto);
    --icon-size: 22px;
    --grid-column-gap: 8px;
    --grid-row-gap: 0px;
}

.elementor-1960 .elementor-element.elementor-element-955f1c0 .elementor-widget-container {
    text-align: left;
}

.elementor-1960 .elementor-element.elementor-element-955f1c0 .elementor-social-icon {
    background-color: #B6474700;
    --icon-padding: 0em;
}

.elementor-1960 .elementor-element.elementor-element-955f1c0 .elementor-social-icon i {
    color: #000000;
}

.elementor-1960 .elementor-element.elementor-element-955f1c0 .elementor-social-icon svg {
    fill: #000000;
}

.elementor-1960 .elementor-element.elementor-element-202d8ca>.elementor-element-populated {
    padding: 17px 0px 0px 40px;
}

.elementor-1960 .elementor-element.elementor-element-7f214f3 .prt-heading-subheading {
    text-align: left;
}

.elementor-1960 .elementor-element.elementor-element-7f214f3 .prt-element-content-heading {
    font-size: 26px;
    line-height: 36px;
}

.elementor-1960 .elementor-element.elementor-element-7f214f3 .prt-element-content-desctxt {
    color: #000000;
    font-size: 14px;
}

.elementor-1960 .elementor-element.elementor-element-1a07a80 {
    padding: 120px 0px 118px 0px;
}

.elementor-1960 .elementor-element.elementor-element-f202000>.elementor-element-populated {
    padding: 0px 20px 0px 0px;
}

.elementor-1960 .elementor-element.elementor-element-1c35309 {
    text-align: left;
}

.elementor-1960 .elementor-element.elementor-element-5e8a8bd .prt-heading-subheading {
    text-align: left;
}

.elementor-1960 .elementor-element.elementor-element-768476e .elementor-accordion-icon,
.elementor-1960 .elementor-element.elementor-element-768476e .elementor-accordion-title {
    color: #000000;
}

.elementor-1960 .elementor-element.elementor-element-768476e .elementor-accordion-icon svg {
    fill: #000000;
}

.elementor-1960 .elementor-element.elementor-element-768476e .elementor-tab-title .elementor-accordion-icon i:before {
    color: #000000;
}

.elementor-1960 .elementor-element.elementor-element-768476e .elementor-tab-title .elementor-accordion-icon svg {
    fill: #000000;
}

.elementor-1960 .elementor-element.elementor-element-768476e>.elementor-widget-container {
    padding: 8px 0px 0px 0px;
}

.elementor-1960 .elementor-element.elementor-element-4e1bc11b {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 120px 0px 120px 0px;
}

.elementor-1960 .elementor-element.elementor-element-4bd76efc>.elementor-element-populated {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 18px 0px 0px;
    --e-column-margin-right: 18px;
    --e-column-margin-left: 0px;
    padding: 50px 40px 47px 40px;
}

.elementor-1960 .elementor-element.elementor-element-4bd76efc>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1960 .elementor-element.elementor-element-3e5e345f .elementor-icon-box-title {
    margin-bottom: 0px;
}

.elementor-1960 .elementor-element.elementor-element-3e5e345f .elementor-icon-box-title,
.elementor-1960 .elementor-element.elementor-element-3e5e345f .elementor-icon-box-title a {
    font-size: 20px;
    line-height: 30px;
}

.elementor-1960 .elementor-element.elementor-element-3e5e345f>.elementor-widget-container {
    padding: 0px 0px 10px 0px;
}

.elementor-1960 .elementor-element.elementor-element-6f65f53f>.elementor-element-populated {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 12px 0px 12px;
    --e-column-margin-right: 12px;
    --e-column-margin-left: 12px;
    padding: 50px 40px 47px 40px;
}

.elementor-1960 .elementor-element.elementor-element-6f65f53f>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1960 .elementor-element.elementor-element-1421b363 {
    --icon-box-icon-margin: 14px;
}

.elementor-1960 .elementor-element.elementor-element-1421b363 .elementor-icon-box-title {
    margin-bottom: 0px;
}

.elementor-1960 .elementor-element.elementor-element-1421b363 .elementor-icon-box-title,
.elementor-1960 .elementor-element.elementor-element-1421b363 .elementor-icon-box-title a {
    font-size: 20px;
    line-height: 30px;
}

.elementor-1960 .elementor-element.elementor-element-1421b363>.elementor-widget-container {
    padding: 0px 0px 10px 0px;
}

.elementor-1960 .elementor-element.elementor-element-217382ef>.elementor-element-populated {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 0px 0px 18px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 18px;
    padding: 50px 40px 47px 40px;
}

.elementor-1960 .elementor-element.elementor-element-217382ef>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1960 .elementor-element.elementor-element-6e9e1710 {
    --icon-box-icon-margin: 14px;
}

.elementor-1960 .elementor-element.elementor-element-6e9e1710 .elementor-icon-box-title {
    margin-bottom: 0px;
}

.elementor-1960 .elementor-element.elementor-element-6e9e1710 .elementor-icon-box-title,
.elementor-1960 .elementor-element.elementor-element-6e9e1710 .elementor-icon-box-title a {
    font-size: 20px;
    line-height: 30px;
}

.elementor-1960 .elementor-element.elementor-element-6e9e1710>.elementor-widget-container {
    padding: 0px 0px 10px 0px;
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-1960 .elementor-element.elementor-element-4bd76efc {
        width: 50%;
    }

    .elementor-1960 .elementor-element.elementor-element-6f65f53f {
        width: 50%;
    }

    .elementor-1960 .elementor-element.elementor-element-217382ef {
        width: 50%;
    }
}

@media(max-width:1024px) {
    .elementor-1960 .elementor-element.elementor-element-bf338f1 {
        padding: 21px 0px 0px 0px;
    }

    .elementor-1960 .elementor-element.elementor-element-84bf225 {
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 0px 0px 50px 0px;
    }

    .elementor-1960 .elementor-element.elementor-element-4126e48>.elementor-element-populated {
        padding: 50px 0px 30px 0px;
    }

    .elementor-1960 .elementor-element.elementor-element-10e1252>.elementor-element-populated {
        border-width: 0px 0px 0px 0px;
    }

    .elementor-1960 .elementor-element.elementor-element-1d44639>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }

    .elementor-1960 .elementor-element.elementor-element-202d8ca>.elementor-element-populated {
        padding: 35px 0px 0px 0px;
    }

    .elementor-1960 .elementor-element.elementor-element-1a07a80 {
        padding: 50px 0px 40px 0px;
    }

    .elementor-1960 .elementor-element.elementor-element-777e50c>.elementor-element-populated {
        padding: 50px 0px 0px 0px;
    }

    .elementor-1960 .elementor-element.elementor-element-4e1bc11b {
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 50px 15px 40px 15px;
    }

    .elementor-1960 .elementor-element.elementor-element-6f65f53f>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-1960 .elementor-element.elementor-element-217382ef>.elementor-element-populated {
        margin: 20px 15px 0px 0px;
        --e-column-margin-right: 15px;
        --e-column-margin-left: 0px;
    }
}

@media(max-width:767px) {
    .elementor-1960 .elementor-element.elementor-element-1d44639>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }

    .elementor-1960 .elementor-element.elementor-element-4bd76efc>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-1960 .elementor-element.elementor-element-6f65f53f>.elementor-element-populated {
        margin: 15px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-1960 .elementor-element.elementor-element-217382ef>.elementor-element-populated {
        margin: 15px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
}