.elementor-3279 .elementor-element.elementor-element-3bd08ed3 {
    padding: 50px 0px 22px 0px;
}

.elementor-3279 .elementor-element.elementor-element-1de6797a {
    padding: 0px 0px 47px 0px;
}

.elementor-3279 .elementor-element.elementor-element-297cd932 .prt-heading-subheading {
    text-align: left;
}

.elementor-3279 .elementor-element.elementor-element-297cd932 .prt-element-content-heading {
    font-size: 34px;
    line-height: 44px;
}

.elementor-3279 .elementor-element.elementor-element-5c6e9f78 {
    padding: 0px 0px 120px 0px;
}

.elementor-3279 .elementor-element.elementor-element-5642f586>.elementor-element-populated {
    padding: 40px 110px 35px 110px;
}

.elementor-3279 .elementor-element.elementor-element-23cc4dc .prt-heading-subheading {
    text-align: left;
}

.elementor-3279 .elementor-element.elementor-element-23cc4dc .prt-element-content-heading {
    font-size: 34px;
    line-height: 44px;
}

.elementor-3279 .elementor-element.elementor-element-23cc4dc .prt-element-content-desctxt {
    color: #000000;
}

@media(max-width:1024px) {
    .elementor-3279 .elementor-element.elementor-element-5c6e9f78 {
        padding: 0px 0px 70px 0px;
    }
}