.elementor-372 .elementor-element.elementor-element-2a7d0442 {
    padding: 50px 0px 22px 0px;
}

.elementor-372 .elementor-element.elementor-element-7592ca6f {
    padding: 0px 0px 47px 0px;
}

.elementor-372 .elementor-element.elementor-element-7d074c24 .prt-heading-subheading {
    text-align: left;
}

.elementor-372 .elementor-element.elementor-element-7d074c24 .prt-element-content-heading {
    font-size: 34px;
    line-height: 44px;
}

.elementor-372 .elementor-element.elementor-element-120e378a {
    padding: 0px 0px 120px 0px;
}

.elementor-372 .elementor-element.elementor-element-76a8f96e>.elementor-element-populated {
    padding: 40px 110px 35px 110px;
}

.elementor-372 .elementor-element.elementor-element-77d99697 .prt-heading-subheading {
    text-align: left;
}

.elementor-372 .elementor-element.elementor-element-77d99697 .prt-element-content-heading {
    font-size: 34px;
    line-height: 44px;
}

.elementor-372 .elementor-element.elementor-element-77d99697 .prt-element-content-desctxt {
    color: #000000;
}

@media(max-width:1024px) {
    .elementor-372 .elementor-element.elementor-element-120e378a {
        padding: 0px 0px 70px 0px;
    }
}