.elementor-373 .elementor-element.elementor-element-21ccf25e {
    padding: 50px 0px 22px 0px;
}

.elementor-373 .elementor-element.elementor-element-4a6491d8 {
    padding: 0px 0px 47px 0px;
}

.elementor-373 .elementor-element.elementor-element-5c4d0fe3 .prt-heading-subheading {
    text-align: left;
}

.elementor-373 .elementor-element.elementor-element-5c4d0fe3 .prt-element-content-heading {
    font-size: 34px;
    line-height: 44px;
}

.elementor-373 .elementor-element.elementor-element-796b4229 {
    padding: 0px 0px 120px 0px;
}

.elementor-373 .elementor-element.elementor-element-3c9e450f>.elementor-element-populated {
    padding: 40px 110px 35px 110px;
}

.elementor-373 .elementor-element.elementor-element-3da42e57 .prt-heading-subheading {
    text-align: left;
}

.elementor-373 .elementor-element.elementor-element-3da42e57 .prt-element-content-heading {
    font-size: 34px;
    line-height: 44px;
}

.elementor-373 .elementor-element.elementor-element-3da42e57 .prt-element-content-desctxt {
    color: #000000;
}

@media(max-width:1024px) {
    .elementor-373 .elementor-element.elementor-element-796b4229 {
        padding: 0px 0px 70px 0px;
    }
}