.elementor-343 .elementor-element.elementor-element-6e949f0 {
    padding: 82px 0px 0px 0px;
}

.elementor-343 .elementor-element.elementor-element-d064dc6 {
    text-align: left;
}

.elementor-343 .elementor-element.elementor-element-056a3e9 {
    padding: 45px 0px 45px 0px;
}

.elementor-343 .elementor-element.elementor-element-2e07595 .prt-heading-subheading {
    text-align: left;
}

.elementor-343 .elementor-element.elementor-element-2e07595 .prt-element-content-heading {
    font-size: 34px;
    line-height: 44px;
}

.elementor-343 .elementor-element.elementor-element-fdc78eb {
    padding: 0px 0px 0px 0px;
}

.elementor-343 .elementor-element.elementor-element-76827ee>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-343 .elementor-element.elementor-element-6968567 {
    padding: 0px 0px 0px 0px;
}

.elementor-343 .elementor-element.elementor-element-869bc83 .elementor-tab-title,
.elementor-343 .elementor-element.elementor-element-869bc83 .elementor-tab-title:before,
.elementor-343 .elementor-element.elementor-element-869bc83 .elementor-tab-title:after,
.elementor-343 .elementor-element.elementor-element-869bc83 .elementor-tab-content,
.elementor-343 .elementor-element.elementor-element-869bc83 .elementor-tabs-content-wrapper {
    border-width: 0px;
}

.elementor-343 .elementor-element.elementor-element-869bc83 .elementor-tab-title,
.elementor-343 .elementor-element.elementor-element-869bc83 .elementor-tab-title a {
    color: #000000;
}

.elementor-343 .elementor-element.elementor-element-869bc83 .elementor-tab-title {
    font-size: 16px;
    font-weight: 500;
}

.elementor-343 .elementor-element.elementor-element-288febb {
    padding: 50px 0px 50px 0px;
}

.elementor-343 .elementor-element.elementor-element-279fc1b .prt-heading-subheading {
    text-align: left;
}

.elementor-343 .elementor-element.elementor-element-af6ee51 {
    padding: 0px 0px 90px 0px;
}

.elementor-343 .elementor-element.elementor-element-51fa538 .prt-heading-subheading {
    text-align: left;
}

.elementor-343 .elementor-element.elementor-element-51fa538 .prt-element-content-heading {
    font-size: 34px;
    line-height: 44px;
}

.elementor-343 .elementor-element.elementor-element-77babbd .elementor-accordion-icon,
.elementor-343 .elementor-element.elementor-element-77babbd .elementor-accordion-title {
    color: #000000;
}

.elementor-343 .elementor-element.elementor-element-77babbd .elementor-accordion-icon svg {
    fill: #000000;
}

.elementor-343 .elementor-element.elementor-element-77babbd .elementor-tab-title .elementor-accordion-icon i:before {
    color: #000000;
}

.elementor-343 .elementor-element.elementor-element-77babbd .elementor-tab-title .elementor-accordion-icon svg {
    fill: #000000;
}

.elementor-343 .elementor-element.elementor-element-77babbd>.elementor-widget-container {
    margin: -15px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

@media(max-width:1024px) {
    .elementor-343 .elementor-element.elementor-element-6e949f0 {
        padding: 70px 0px 0px 0px;
    }

    .elementor-343 .elementor-element.elementor-element-288febb {
        padding: 50px 0px 50px 0px;
    }

    .elementor-343 .elementor-element.elementor-element-af6ee51 {
        padding: 0px 0px 40px 0px;
    }
}