.elementor-344 .elementor-element.elementor-element-999f795 {
    padding: 120px 0px 72px 0px;
}

.elementor-344 .elementor-element.elementor-element-7bae7bd {
    text-align: left;
}

.elementor-344 .elementor-element.elementor-element-6c65312>.elementor-element-populated {
    padding: 27px 0px 0px 35px;
}

.elementor-344 .elementor-element.elementor-element-dcdc04d .prt-heading-subheading {
    text-align: left;
}

.elementor-344 .elementor-element.elementor-element-dcdc04d .prt-element-content-heading {
    font-size: 34px;
    line-height: 44px;
}

.elementor-344 .elementor-element.elementor-element-8c1b38d .elementor-progress-bar {
    height: 7px;
    line-height: 7px;
}

.elementor-344 .elementor-element.elementor-element-8c1b38d>.elementor-widget-container {
    padding: 24px 0px 0px 0px;
}

.elementor-344 .elementor-element.elementor-element-70cbc9f .elementor-progress-bar {
    height: 7px;
    line-height: 7px;
}

.elementor-344 .elementor-element.elementor-element-70cbc9f>.elementor-widget-container {
    padding: 5px 0px 0px 0px;
}

.elementor-344 .elementor-element.elementor-element-95862e5 .elementor-progress-bar {
    height: 7px;
    line-height: 7px;
}

.elementor-344 .elementor-element.elementor-element-95862e5>.elementor-widget-container {
    padding: 5px 0px 0px 0px;
}

.elementor-344 .elementor-element.elementor-element-038b263 {
    padding: 0px 0px 0px 0px;
}

.elementor-344 .elementor-element.elementor-element-55fe04c .prt-heading-subheading {
    text-align: left;
}

.elementor-344 .elementor-element.elementor-element-55fe04c .prt-element-content-heading {
    font-size: 34px;
    line-height: 44px;
}

.elementor-344 .elementor-element.elementor-element-fadcaa8 {
    padding: 50px 0px 60px 0px;
}

.elementor-344 .elementor-element.elementor-element-6522998>.elementor-element-populated {
    padding: 40px 40px 30px 40px;
}

.elementor-344 .elementor-element.elementor-element-d371dca .prt-heading-subheading {
    text-align: left;
}

.elementor-344 .elementor-element.elementor-element-d371dca .prt-element-content-heading {
    font-size: 34px;
    line-height: 44px;
}

.elementor-344 .elementor-element.elementor-element-6fdc898 .prt-heading-subheading {
    text-align: left;
}

.elementor-344 .elementor-element.elementor-element-6fdc898 .prt-custom-heading {
    font-size: 18px;
    line-height: 28px;
}

.elementor-344 .elementor-element.elementor-element-6fdc898>.elementor-widget-container {
    padding: 0px 0px 23px 0px;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
}

.elementor-344 .elementor-element.elementor-element-6544651 .prt-heading-subheading {
    text-align: left;
}

.elementor-344 .elementor-element.elementor-element-6544651 .prt-custom-heading {
    font-size: 18px;
    line-height: 28px;
}

.elementor-344 .elementor-element.elementor-element-6544651>.elementor-widget-container {
    padding: 0px 0px 0px 0px;
}

.elementor-344 .elementor-element.elementor-element-2ca4c0b>.elementor-element-populated {
    padding: 0px 0px 0px 35px;
}

.elementor-344 .elementor-element.elementor-element-a2db372 .prt-heading-subheading {
    text-align: left;
}

.elementor-344 .elementor-element.elementor-element-a2db372 .prt-element-content-heading {
    font-size: 34px;
    line-height: 44px;
}

.elementor-344 .elementor-element.elementor-element-f681bad .elementor-accordion-icon,
.elementor-344 .elementor-element.elementor-element-f681bad .elementor-accordion-title {
    color: #000000;
}

.elementor-344 .elementor-element.elementor-element-f681bad .elementor-accordion-icon svg {
    fill: #000000;
}

.elementor-344 .elementor-element.elementor-element-f681bad .elementor-tab-title .elementor-accordion-icon i:before {
    color: #000000;
}

.elementor-344 .elementor-element.elementor-element-f681bad .elementor-tab-title .elementor-accordion-icon svg {
    fill: #000000;
}

.elementor-344 .elementor-element.elementor-element-f681bad>.elementor-widget-container {
    padding: 8px 0px 0px 0px;
}

.elementor-344 .elementor-element.elementor-element-e29ba2f {
    padding: 0px 0px 0px 0px;
}

.elementor-344 .elementor-element.elementor-element-7cef7ed {
    padding: 60px 0px 60px 0px;
}

.elementor-344 .elementor-element.elementor-element-3a5fe14>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 30px 0px 0px;
}

.elementor-344 .elementor-element.elementor-element-93931da {
    padding: 0px 0px 40px 0px;
}

.elementor-344 .elementor-element.elementor-element-922548e .prt-heading-subheading {
    text-align: left;
}

.elementor-344 .elementor-element.elementor-element-922548e .prt-element-content-heading {
    font-size: 34px;
    line-height: 44px;
}

.elementor-344 .elementor-element.elementor-element-13d1169 {
    padding: 40px 30px 21px 30px;
}

.elementor-344 .elementor-element.elementor-element-b0b3c00 .elementor-heading-title {
    color: #FFFFFF;
    font-size: 42px;
    line-height: 52px;
}

.elementor-344 .elementor-element.elementor-element-51b7a2c {
    padding: 0px 30px 70px 30px;
}

.elementor-344 .elementor-element.elementor-element-bb24fe6>.elementor-widget-container {
    padding: 22px 0px 18px 0px;
    border-style: solid;
    border-width: 0px 1px 0px 0px;
    border-color: #E6E6E654;
}

.elementor-344 .elementor-element.elementor-element-5b79f76>.elementor-widget-container {
    padding: 22px 0px 18px 15px;
    border-style: solid;
    border-width: 0px 1px 0px 0px;
    border-color: #E6E6E654;
}

.elementor-344 .elementor-element.elementor-element-957f309>.elementor-widget-container {
    padding: 22px 0px 18px 15px;
    border-style: none;
}

.elementor-344 .elementor-element.elementor-element-540b7a8>.elementor-element-populated {
    padding: 7px 0px 0px 0px;
}

.elementor-344 .elementor-element.elementor-element-1ee4393 {
    padding: 0px 0px 0px 0px;
}

.elementor-344 .elementor-element.elementor-element-af05594>.elementor-element-populated {
    padding: 105px 0px 85px 0px;
}

.elementor-344 .elementor-element.elementor-element-8c15547 .prt-heading-subheading {
    text-align: left;
}

.elementor-344 .elementor-element.elementor-element-76bc27a {
    padding: 0px 0px 50px 0px;
}

.elementor-344 .elementor-element.elementor-element-9c19c85 .prt-heading-subheading {
    text-align: left;
}

@media(min-width:768px) {
    .elementor-344 .elementor-element.elementor-element-3a5fe14 {
        width: 51.231%;
    }

    .elementor-344 .elementor-element.elementor-element-540b7a8 {
        width: 48.731%;
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-344 .elementor-element.elementor-element-3a5fe14 {
        width: 100%;
    }

    .elementor-344 .elementor-element.elementor-element-540b7a8 {
        width: 100%;
    }
}

@media(max-width:1024px) {
    .elementor-344 .elementor-element.elementor-element-999f795 {
        padding: 70px 0px 50px 0px;
    }

    .elementor-344 .elementor-element.elementor-element-6fdc898>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }

    .elementor-344 .elementor-element.elementor-element-6544651>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }

    .elementor-344 .elementor-element.elementor-element-2ca4c0b>.elementor-element-populated {
        padding: 30px 0px 0px 0px;
    }

    .elementor-344 .elementor-element.elementor-element-7cef7ed {
        padding: 45px 0px 50px 0px;
    }

    .elementor-344 .elementor-element.elementor-element-3a5fe14>.elementor-element-populated {
        padding: 0px 0px 0px 0px;
    }

    .elementor-344 .elementor-element.elementor-element-51b7a2c {
        padding: 0px 0px 50px 22px;
    }

    .elementor-344 .elementor-element.elementor-element-af05594>.elementor-element-populated {
        padding: 50px 0px 40px 0px;
    }

    .elementor-344 .elementor-element.elementor-element-76bc27a {
        padding: 0px 0px 50px 0px;
    }
}

@media(max-width:767px) {
    .elementor-344 .elementor-element.elementor-element-bb24fe6>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }

    .elementor-344 .elementor-element.elementor-element-5b79f76>.elementor-widget-container {
        padding: 10px 0px 0px 0px;
    }

    .elementor-344 .elementor-element.elementor-element-957f309>.elementor-widget-container {
        padding: 10px 0px 0px 0px;
    }
}