.elementor-376 .elementor-element.elementor-element-aac9060 {
    padding: 50px 0px 22px 0px;
}

.elementor-376 .elementor-element.elementor-element-0d85927 {
    padding: 0px 0px 47px 0px;
}

.elementor-376 .elementor-element.elementor-element-7b9cc4d .prt-heading-subheading {
    text-align: left;
}

.elementor-376 .elementor-element.elementor-element-7b9cc4d .prt-element-content-heading {
    font-size: 34px;
    line-height: 44px;
}

.elementor-376 .elementor-element.elementor-element-10b3adf {
    padding: 0px 0px 120px 0px;
}

.elementor-376 .elementor-element.elementor-element-c70839a>.elementor-element-populated {
    padding: 40px 110px 35px 110px;
}

.elementor-376 .elementor-element.elementor-element-af5a401 .prt-heading-subheading {
    text-align: left;
}

.elementor-376 .elementor-element.elementor-element-af5a401 .prt-element-content-heading {
    font-size: 34px;
    line-height: 44px;
}

.elementor-376 .elementor-element.elementor-element-af5a401 .prt-element-content-desctxt {
    color: #000000;
}

@media(max-width:1024px) {
    .elementor-376 .elementor-element.elementor-element-10b3adf {
        padding: 0px 0px 70px 0px;
    }
}